#locations-container {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;
}
#locations {
    background-color: #f6f6ed;
    color: #333;
}
.zoo {
    display: flex;
    align-items: center;
    margin: 20px;
}
.zoo img {
    max-width: 250px;
    max-height: auto;
    object-fit: cover;
    border-radius: 10px;
}
.zoo-details {
    margin-left: 20px;
}